.cabecalho {
    background-color: rgb(0, 0, 0);
    color: rgb(43, 0, 0);
    display: flex;
    padding: 24px 0;
}

.section1 {
    background-color: rgb(134, 0, 0);
    padding: 100px;
}

.section2 {
    background-color: rgb(0, 47, 255);
    padding: 100px;
}

.cabecalho-imagem{
    width: 2%;
}

.rodape{
background-color: rgb(0, 0, 0);
}