.corpodosite{
    color: white;
}




.cabecalho {
    background-image: linear-gradient(black,red);
    color: rgb(102, 255, 0);
    display: flex;
    padding: 24px 0;
    font-size: medium;
}

.section1 {
    background-image: linear-gradient(red,blue);
    padding: 100px;
}

.section2 {
    background-image: linear-gradient(blue,rgb(0, 0, 0));
    padding: 100px;
}

.cabecalho-imagem{
    width: 2%;
}

.rodape{
background-color: rgb(0, 0, 0);
color: white;
}